{% extends 'bc_app/base.html' %}

{% block content %}
<a class="itemText" href="{% url 'items' %}">Назад</a>
<div class="box">
    <div class="itemInfo">
        <img src="{{ item.image.url }}">
    </div>
    <div class="itemText">
        <div class="itemText_in">
            <p>Category</p>
            <p>{{ it.cat }}</p>
        </div>
        <div class="itemText_in">
            <p>Name</p>
            <p>{{ item.itemsName }}</p>
        </div>
        <div class="itemText_in">
            <p>Description</p>
            {{ item.description }}
        </div>
        <div class="itemText_in">
            <p>Quantity on stock </p>
            {{ item.itemsCount }}
        </div>
        <div class="itemText_in">
            <p>Price</p>
            {{ item.price }}$
        </div>
    </div>
    <div id="form">
        <form class=itemText action="{% url 'cart_add' item.id %}" method="post">
            {{ cart_product_form }}
            {% csrf_token %}
            <input type="submit" value="Add to cart">
        </form>
    </div>
</div>
{% endblock %}
