<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PathOfExile</title>
    <!-- custom css link-->
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
    <!-- boxcoins link-->
    <link rel="stylesheet"
     href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">

    <!-- remixicoins link-->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">

    <!-- google fonts link-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@1,700&family=Poppins:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">
</head>
<body>
    {% load static %}
    <header>
        <a href="#" class="logo">COC-STATS</a>

        <ul class="navlist">
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Some</a></li>
            <li><a href="#">Thing</a></li>
        </ul>

        <div class="bx bx-menu" id="menu-icon"></div>
    </header>

    <section class="hero">
        <div class="hero-text">
            <h4>Hello</h4>
            <h5>World</h5>
            <h1>PathOfExile</h1>
            <p>Abra kadabra</p>
            <a href="#">Compare</a>
            <a href="#" class="ctaa"><i class='bx bx-play'></i>Watch Gameplay</a>
        </div>

        <div class="hero-img">
            <img src="{% static 'images/logo.png' %}">
        </div>
    </section>


    <!-- custom js link-->
<script src="js/script.js"></script>


</body>
</html>