*{
    padding :0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
}
.container{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: #000  url(/static/bc_app/images/backdrop.jpeg) no-repeat top center fixed;
    z-index: 1;
}
header{
    position: relative;
    right: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 33px 9%;
    background: transparent;

}
.content{
    position: absolute;
    top: 250px;
    right: 100px;
    left: 100px;
    bottom: 0;
}
.backdrop{
    box-shadow: 0 2px 4px 2px rgba(0,0,0,.88);
    background: rgba(0,0,0,.91);
    margin: 2px 20px 10px;
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}
.grid{
    margin: 20px 50px 20px 50px;
     display: grid;
     grid-template-columns: repeat(1, 1fr);
     grid-auto-rows: auto;
}
.box{
    color: white;
    display: grid;
    border: 10px solid brown;
    grid-template-columns: repeat(3, 1fr);
}
.itemImage{
    margin-left: auto;
    margin-right: auto;
}
.itemInfo{
    margin-left: auto;
    margin-right: auto;
}
.itemText{
    text-align: center;
}
.buttons{
    display: gird;
    grid-template-columns: repeat(1, 1fr);
}